In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import os

In [5]:
data = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/week 7 project/DATA/FAOSTAT/Prices_E_All_Data/Prices_E_All_Data.csv', encoding='latin1')
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Months Code,Months,Unit,Y1991,Y1991F,Y1992,Y1992F,Y1993,Y1993F,Y1994,Y1994F,Y1995,Y1995F,Y1996,Y1996F,Y1997,Y1997F,Y1998,Y1998F,Y1999,Y1999F,Y2000,Y2000F,Y2001,Y2001F,Y2002,Y2002F,Y2003,Y2003F,Y2004,Y2004F,Y2005,Y2005F,Y2006,Y2006F,Y2007,Y2007F,Y2008,Y2008F,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F
0,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),7021,Annual value,LCU,NaN,NaN,NaN,NaN,46000.00,NaN,50000.00,NaN,62000.00,NaN,50000.00,NaN,41000.00,NaN,42000.00,NaN,52000.00,NaN,67000.00,NaN,83000.00,NaN,75000.00,NaN,89000.00,NaN,91000.00,NaN,90200.00,NaN,NaN,NaN,NaN,NaN,213810.00,NaN,186000.00,NaN,215700.00,NaN,230900.00,NaN,240500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),7021,Annual value,SLC,NaN,NaN,NaN,NaN,46000.00,NaN,50000.00,NaN,62000.00,NaN,50000.00,NaN,41000.00,NaN,42000.00,NaN,52000.00,NaN,67000.00,NaN,83000.00,NaN,75000.00,NaN,89000.00,NaN,91000.00,NaN,90200.00,NaN,NaN,NaN,NaN,NaN,213810.00,NaN,186000.00,NaN,215700.00,NaN,230900.00,NaN,240500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,21.57,Fc,21.57,Fc,21.57,Fc,23.44,Fc,29.07,Fc,23.44,Fc,19.22,Fc,19.69,Fc,24.38,Fc,31.42,Fc,38.92,Fc,35.17,Fc,41.73,Fc,42.67,Fc,42.29,Fc,61.61,Fc,80.93,Fc,100.25,Fc,87.21,Fc,101.14,Fc,108.27,Fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,10.62,Fc,10.62,Fc,10.62,Fc,10.62,Fc,19.72,Fc,26.69,Fc,33.37,Fc,40.65,Fc,50.36,Fc,51.57,Fc,49.75,Fc,50.36,Fc,50.97,Fc,54.68,Fc,59.40,Fc,59.72,Fc,70.09,Fc,67.98,Fc,72.16,Fc,100.43,Fc,111.16,Fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),7021,Annual value,LCU,NaN,NaN,NaN,NaN,6100.00,NaN,6200.00,NaN,4500.00,NaN,16000.00,NaN,18500.00,NaN,12800.00,NaN,24800.00,NaN,12500.00,NaN,12000.00,NaN,15000.00,NaN,14000.00,NaN,13200.00,NaN,11000.00,NaN,NaN,NaN,NaN,NaN,21740.00,NaN,25000.00,NaN,25070.00,NaN,24200.00,NaN,22600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.describe().transpose()
data.shape

(89034, 65)

In [7]:
item = data['Item']
item_set = set(item)
len(item_set)

235

In [8]:
data_apples = data[data['Item'] == 'Apples']
data_apples

,Area Code,Area,Item Code,Item,Element Code,Element,Months Code,Months,Unit,Y1991,Y1991F,Y1992,Y1992F,Y1993,Y1993F,Y1994,Y1994F,Y1995,Y1995F,Y1996,Y1996F,Y1997,Y1997F,Y1998,Y1998F,Y1999,Y1999F,Y2000,Y2000F,Y2001,Y2001F,Y2002,Y2002F,Y2003,Y2003F,Y2004,Y2004F,Y2005,Y2005F,Y2006,Y2006F,Y2007,Y2007F,Y2008,Y2008F,Y2009,Y2009F,Y2010,Y2010F,Y2011,Y2011F,Y2012,Y2012F,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F
4,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),7021,Annual value,LCU,NaN,NaN,NaN,NaN,6100.00,NaN,6200.00,NaN,4500.00,NaN,16000.00,NaN,18500.00,NaN,12800.00,NaN,24800.00,NaN,12500.00,NaN,12000.00,NaN,15000.00,NaN,14000.00,NaN,13200.00,NaN,11000.00,NaN,NaN,NaN,NaN,NaN,21740.00,NaN,25000.00,NaN,25070.00,NaN,24200.00,NaN,22600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,Afghanistan,515,Apples,5531,Producer Price (SLC/tonne),7021,Annual value,SLC,NaN,NaN,NaN,NaN,6100.00,NaN,6200.00,NaN,4500.00,NaN,16000.00,NaN,18500.00,NaN,12800.00,NaN,24800.00,NaN,12500.00,NaN,12000.00,NaN,15000.00,NaN,14000.00,NaN,13200.00,NaN,11000.00,NaN,NaN,NaN,NaN,NaN,21740.00,NaN,25000.00,NaN,25070.00,NaN,24200.00,NaN,22600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Afghanistan,515,Apples,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,30.44,Fc,30.44,Fc,30.44,Fc,30.94,Fc,22.45,Fc,79.84,Fc,92.31,Fc,63.87,Fc,123.75,Fc,62.37,Fc,59.88,Fc,74.85,Fc,69.86,Fc,65.87,Fc,54.89,Fc,72.75,Fc,90.62,Fc,108.48,Fc,124.75,Fc,125.09,Fc,120.75,Fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,3,Albania,515,Apples,5530,Producer Price (LCU/tonne),7021,Annual value,LCU,NaN,NaN,NaN,NaN,32800.00,NaN,NaN,NaN,30000.00,NaN,34000.00,NaN,37700.00,NaN,37500.00,NaN,37200.00,NaN,37000.00,NaN,37000.00,NaN,38500.00,NaN,38700.00,NaN,38600.00,NaN,39000.00,NaN,42000.00,NaN,44000.00,NaN,40000.00,NaN,44000.00,NaN,37000.00,NaN,39000.00,NaN,40000.0,NaN,52000.0,NaN,50083.3,NaN,49000.00,NaN,47335.90,NaN,54979.40,NaN,46997.7,NaN
109,3,Albania,515,Apples,5530,Producer Price (LCU/tonne),7001,January,LCU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42000.00,NaN,41000.0,NaN,60000.0,NaN,45000.0,NaN,46000.00,NaN,45675.40,NaN,46324.90,NaN,53969.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88316,181,Zimbabwe,515,Apples,5530,Producer Price (LCU/tonne),7011,November,LCU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970.00,NaN,NaN,NaN
88317,181,Zimbabwe,515,Apples,5530,Producer Price (LCU/tonne),7012,December,LCU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2030.00,NaN,NaN,NaN
88318,181,Zimbabwe,515,Apples,5531,Producer Price (SLC/tonne),7021,Annual value,SLC,7.70,NaN,8.40,NaN,9.20,NaN,10.00,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN,337.10,NaN,431.60,NaN,5606.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1897.00,NaN,1789.00,NaN,1865.00,NaN,NaN,NaN
88319,181,Zimbabwe,515,Apples,5532,Producer Price (USD/tonne),7021,Annual value,USD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1897.00,NaN,1789.00,NaN,1865.00,NaN,NaN,NaN
88320,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),7021,Annual value,NaN,0.42,Fc,0.46,Fc,0.50,Fc,0.54,Fc,NaN,NaN,0.72,Fc,0.72,Fc,1.74,Fc,2.53,Fc,NaN,NaN,18.29,Fc,23.42,Fc,304.21,Fc,1649.95,Fc,6782.38,Fc,94433.35,Fc,336501.06,Fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.93,Fc,97.07,Fc,101.19,Fc,NaN,NaN

In [9]:
data_norm = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/week 7 project/DATA/FAOSTAT/Prices_E_All_Data_(Normalized)/Prices_E_All_Data_(Normalized).csv', encoding='latin1')
data_norm.head(60)

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1993,1993,7021,Annual value,LCU,46000.00,NaN
1,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1994,1994,7021,Annual value,LCU,50000.00,NaN
2,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1995,1995,7021,Annual value,LCU,62000.00,NaN
3,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1996,1996,7021,Annual value,LCU,50000.00,NaN
4,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1997,1997,7021,Annual value,LCU,41000.00,NaN
5,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1998,1998,7021,Annual value,LCU,42000.00,NaN
6,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),1999,1999,7021,Annual value,LCU,52000.00,NaN
7,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2000,2000,7021,Annual value,LCU,67000.00,NaN
8,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2001,2001,7021,Annual value,LCU,83000.00,NaN
9,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2002,2002,7021,Annual value,LCU,75000.00,NaN
10,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2003,2003,7021,Annual value,LCU,89000.00,NaN
11,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2004,2004,7021,Annual value,LCU,91000.00,NaN
12,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2005,2005,7021,Annual value,LCU,90200.00,NaN
13,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2008,2008,7021,Annual value,LCU,213810.00,NaN
14,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2009,2009,7021,Annual value,LCU,186000.00,NaN
15,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2010,2010,7021,Annual value,LCU,215700.00,NaN
16,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2011,2011,7021,Annual value,LCU,230900.00,NaN
17,2,Afghanistan,221,"Almonds, with shell",5530,Producer Price (LCU/tonne),2012,2012,7021,Annual value,LCU,240500.00,NaN
18,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1993,1993,7021,Annual value,SLC,46000.00,NaN
19,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1994,1994,7021,Annual value,SLC,50000.00,NaN
20,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1995,1995,7021,Annual value,SLC,62000.00,NaN
21,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1996,1996,7021,Annual value,SLC,50000.00,NaN
22,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1997,1997,7021,Annual value,SLC,41000.00,NaN
23,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1998,1998,7021,Annual value,SLC,42000.00,NaN
24,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),1999,1999,7021,Annual value,SLC,52000.00,NaN
25,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2000,2000,7021,Annual value,SLC,67000.00,NaN
26,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2001,2001,7021,Annual value,SLC,83000.00,NaN
27,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2002,2002,7021,Annual value,SLC,75000.00,NaN
28,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2003,2003,7021,Annual value,SLC,89000.00,NaN
29,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2004,2004,7021,Annual value,SLC,91000.00,NaN
30,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2005,2005,7021,Annual value,SLC,90200.00,NaN
31,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2008,2008,7021,Annual value,SLC,213810.00,NaN
32,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2009,2009,7021,Annual value,SLC,186000.00,NaN
33,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2010,2010,7021,Annual value,SLC,215700.00,NaN
34,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2011,2011,7021,Annual value,SLC,230900.00,NaN
35,2,Afghanistan,221,"Almonds, with shell",5531,Producer Price (SLC/tonne),2012,2012,7021,Annual value,SLC,240500.00,NaN
36,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1991,1991,7021,Annual value,NaN,21.57,Fc
37,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1992,1992,7021,Annual value,NaN,21.57,Fc
38,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1993,1993,7021,Annual value,NaN,21.57,Fc
39,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1994,1994,7021,Annual value,NaN,23.44,Fc
40,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1995,1995,7021,Annual value,NaN,29.07,Fc
41,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1996,1996,7021,Annual value,NaN,23.44,Fc
42,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1997,1997,7021,Annual value,NaN,19.22,Fc
43,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1998,1998,7021,Annual value,NaN,19.69,Fc
44,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),1999,1999,7021,Annual value,NaN,24.38,Fc
45,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2000,2000,7021,Annual value,NaN,31.42,Fc
46,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2001,2001,7021,Annual value,NaN,38.92,Fc
47,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2002,2002,7021,Annual value,NaN,35.17,Fc
48,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2003,2003,7021,Annual value,NaN,41.73,Fc
49,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2004,2004,7021,Annual value,NaN,42.67,Fc
50,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2005,2005,7021,Annual value,NaN,42.29,Fc
51,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2006,2006,7021,Annual value,NaN,61.61,Fc
52,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2007,2007,7021,Annual value,NaN,80.93,Fc
53,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2008,2008,7021,Annual value,NaN,100.25,Fc
54,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2009,2009,7021,Annual value,NaN,87.21,Fc
55,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2010,2010,7021,Annual value,NaN,101.14,Fc
56,2,Afghanistan,221,"Almonds, with shell",5539,Producer Price Index (2014-2016 = 100),2011,2011,7021,Annual value,NaN,108.27,Fc
57,2,Afghanistan,711,"Anise, badian, fennel, coriander",5539,Producer Price Index (2014-2016 = 100),1991,1991,7021,Annual value,NaN,10.62,Fc
58,2,Afghanistan,711,"Anise, badian, fennel, coriander",5539,Producer Price Index (2014-2016 = 100),1992,1992,7021,Annual value,NaN,10.62,Fc
59,2,Afghanistan,711,"Anise, badian, fennel, coriander",5539,Producer Price Index (2014-2016 = 100),1993,1993,7021,Annual value,NaN,10.62,Fc

In [10]:
data_norm.shape

(979720, 13)

In [11]:
data_norm_apples = data_norm[data_norm['Item'] == 'Apples']
data_norm_apples

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag
78,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),1993,1993,7021,Annual value,LCU,6100.00,NaN
79,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),1994,1994,7021,Annual value,LCU,6200.00,NaN
80,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),1995,1995,7021,Annual value,LCU,4500.00,NaN
81,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),1996,1996,7021,Annual value,LCU,16000.00,NaN
82,2,Afghanistan,515,Apples,5530,Producer Price (LCU/tonne),1997,1997,7021,Annual value,LCU,18500.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
976583,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),2006,2006,7021,Annual value,NaN,94433.35,Fc
976584,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),2007,2007,7021,Annual value,NaN,336501.06,Fc
976585,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),2015,2015,7021,Annual value,NaN,102.93,Fc
976586,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),2016,2016,7021,Annual value,NaN,97.07,Fc
976587,181,Zimbabwe,515,Apples,5539,Producer Price Index (2014-2016 = 100),2017,2017,7021,Annual value,NaN,101.19,Fc

In [20]:
data_eu_test = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/week 7 project/DATA/EUROSTAT/Extra-EU28 trade, by Member State, total product(tet00055).tsv', sep='\t')
data_eu_test_2 = data_eu_test.drop(data_eu_test.index[[0,1,2,3]])
data_eu_test_2

,"indic_et,sitc06,partner,geo\time",2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
4,"CONT_EXP_EU,TOTAL,EXT_EU28,CZ",1.1,1.1,1.2,1.3,1.4,1.3,1.4,1.3,1.4,1.4,1.4,1.4
5,"CONT_EXP_EU,TOTAL,EXT_EU28,DE",27.3,27.4,27.8,27.6,27.9,27.0,28.0,28.1,28.6,28.3,27.7,27.1
6,"CONT_EXP_EU,TOTAL,EXT_EU28,DK",1.8,2.0,1.8,1.8,1.8,1.7,1.8,1.9,1.9,1.8,1.8,2.0
7,"CONT_EXP_EU,TOTAL,EXT_EU28,EE",0.2,0.2,0.2,0.3,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2
8,"CONT_EXP_EU,TOTAL,EXT_EU28,EL",0.6,0.7,0.7,0.7,0.9,0.8,0.8,0.7,0.6,0.7,0.8,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,"MIO_IMP_VAL,TOTAL,EXT_EU28,RO",17259.3,10430.9,12822.6,14924.5,14404.2,13414.5,14428.3,14384.1,15412.4,18294.5,20959.5,21847.6
141,"MIO_IMP_VAL,TOTAL,EXT_EU28,SE",35305.6,27516.7,36995.1,40451.3,41833.9,37667.3,38145.9,37450.3,36870.4,38883.3,43287.1,42183.4
142,"MIO_IMP_VAL,TOTAL,EXT_EU28,SI",6194.5,4708.4,6242.0,7103.6,6974.8,7524.9,7895.1,8075.6,8030.3,9774.2,11725.8,14443.4
143,"MIO_IMP_VAL,TOTAL,EXT_EU28,SK",13483.3,9970.3,13781.2,15365.2,15894.5,15977.7,14535.6,14037.3,13427.5,14473.0,15947.2,15435.6
144,"MIO_IMP_VAL,TOTAL,EXT_EU28,UK",217529.3,188181.9,226954.0,252696.4,283853.7,239767.3,244178.6,261897.0,284530.2,274183.7,269217.8,311860.8

In [3]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3306/IH_week7_project')

test = pd.read_sql_table('data_norm_eu28', engine)
test

,index,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,43463,11,Austria,515,Apples,5530,Producer Price (LCU/tonne),1991,1991,7021,Annual value,LCU,9620.0,None
1,43464,11,Austria,515,Apples,5530,Producer Price (LCU/tonne),1992,1992,7021,Annual value,LCU,8410.0,None
2,43465,11,Austria,515,Apples,5530,Producer Price (LCU/tonne),1993,1993,7021,Annual value,LCU,6560.0,None
3,43466,11,Austria,515,Apples,5530,Producer Price (LCU/tonne),1994,1994,7021,Annual value,LCU,5460.0,None
4,43467,11,Austria,515,Apples,5530,Producer Price (LCU/tonne),1995,1995,7021,Annual value,LCU,4900.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36481,849844,210,Sweden,987,"Wool, greasy",5530,Producer Price (LCU/tonne),1995,1995,7021,Annual value,LCU,8000.0,*
36482,849845,210,Sweden,987,"Wool, greasy",5530,Producer Price (LCU/tonne),1996,1996,7021,Annual value,LCU,10000.0,*
36483,849846,210,Sweden,987,"Wool, greasy",5530,Producer Price (LCU/tonne),1997,1997,7021,Annual value,LCU,12000.0,*
36484,849847,210,Sweden,987,"Wool, greasy",5530,Producer Price (LCU/tonne),1998,1998,7021,Annual value,LCU,12000.0,*
36485,849848,210,Sweden,987,"Wool, greasy",5530,Producer Price (LCU/tonne),1999,1999,7021,Annual value,LCU,12000.0,*