# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [2]:
# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
pokemon = pd.read_csv('/Users/erinberardi/Erin_dataV2-labs/module-2/Two-Sample-Hypothesis-Tests/Pokemon.csv')

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [5]:
padd= pokemon['Total']==pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['Sp. Atk']+pokemon['Sp. Def']+pokemon['Speed']
padd.unique()

array([ True])

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [6]:
pokemon['Combo Type']=pokemon['Type 1'].fillna('') + ' ' + pokemon['Type 2'].fillna('')
pokemon['Type 2'] = pokemon['Type 2'].fillna('NA')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison
4,4,Charmander,Fire,NA,309,39,52,43,60,50,65,1,False,Fire

In [7]:
pokemon['Combo Type']=pokemon['Combo Type'].str.split(' ')

In [8]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,"[Grass, Poison]"
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,"[Grass, Poison]"
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,"[Grass, Poison]"
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,"[Grass, Poison]"
4,4,Charmander,Fire,NA,309,39,52,43,60,50,65,1,False,"[Fire, ]"

In [9]:
# treat null values
pokemon['Type 2'].fillna('NA', inplace = True)
unique_type = list(pokemon['Type 2'].unique())
unique_type

['Poison',
 'NA',
 'Flying',
 'Dragon',
 'Ground',
 'Fairy',
 'Grass',
 'Fighting',
 'Psychic',
 'Steel',
 'Ice',
 'Rock',
 'Dark',
 'Water',
 'Electric',
 'Fire',
 'Ghost',
 'Bug',
 'Normal']

In [10]:

pokemon1 = pokemon.reindex(pokemon.columns.tolist() + unique_type, axis=1, fill_value=0)

pokemon1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Steel,Ice,Rock,Dark,Water,Electric,Fire,Ghost,Bug,Normal
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,0,0,0
4,4,Charmander,Fire,NA,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,...,0,0,0,0,0,0,0,0,0,0
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,...,0,0,0,0,0,0,0,0,0,0
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,...,0,0,0,0,0,0,0,0,0,0
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,...,0,0,0,0,0,0,0,0,0,0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,...,0,0,0,0,0,0,0,0,0,0

In [11]:
pokemon1.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Combo Type',
       'Poison', 'NA', 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'],
      dtype='object')

In [12]:
pokemon1['Combo Type']

0       [Grass, Poison]
1       [Grass, Poison]
2       [Grass, Poison]
3       [Grass, Poison]
4              [Fire, ]
             ...
795       [Rock, Fairy]
796       [Rock, Fairy]
797    [Psychic, Ghost]
798     [Psychic, Dark]
799       [Fire, Water]
Name: Combo Type, Length: 800, dtype: object

In [13]:
pokemon1['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [14]:
pokemon1['Type 2'].unique()

array(['Poison', 'NA', 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [15]:
pokemon1.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Combo Type',
       'Poison', 'NA', 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'],
      dtype='object')

In [299]:
pokemon1['Type 2'][0]

'Poison'

In [311]:
pokemon1['Type 1'][0]

'Grass'

In [330]:
#pokemon1.loc[pokemon1['Type 1'] == 'Grass','Grass'] = 1
pokemon1.loc[pokemon1['Type 2'] == 'Grass','Grass'] = 1
pokemon1['Grass']

0      1
1      1
2      1
3      1
4      0
      ..
795    0
796    0
797    0
798    0
799    0
Name: Grass, Length: 800, dtype: int64

In [348]:
pokemon1['Fire'].value_counts()

0    736
1     64
Name: Fire, dtype: int64

In [16]:
def dummy_types(df):
    for type1 in df['Type 1']:
        df.loc[df['Type 1'] == type1,str(type1)] = 1
    for type2 in df['Type 2']:
        df.loc[df['Type 2'] == type2,str(type2)] = 1
    return

In [17]:
dummy_types(pokemon1)

In [18]:
pokemon1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Steel,Ice,Rock,Dark,Water,Electric,Fire,Ghost,Bug,Normal
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,0,0,0
4,4,Charmander,Fire,NA,309,39,52,43,60,50,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,...,0,0,1,0,0,0,0,0,0,0
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,...,0,0,1,0,0,0,0,0,0,0
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,...,0,0,0,0,0,0,0,1,0,0
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,...,0,0,0,1,0,0,0,0,0,0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,...,0,0,0,0,1,0,1,0,0,0

In [19]:
pokemon1['Fire'].value_counts()

0    736
1     64
Name: Fire, dtype: int64

In [20]:
pokemon1['NA'].value_counts()

0    414
1    386
Name: NA, dtype: int64

In [27]:

pokemon2 = pokemon1.drop('NA',axis = 1)

In [28]:
pokemon2.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Combo Type',
       'Poison', 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water', 'Electric', 'Fire',
       'Ghost', 'Bug', 'Normal'],
      dtype='object')

In [23]:
pokemon3 = pokemon2.drop(['Type 1','Type 2','#','Combo Type','Generation','Legendary','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed'],axis = 1)
pokemon3.head()

,Name,Total,Poison,Flying,Dragon,Ground,Fairy,Grass,Fighting,Psychic,Steel,Ice,Rock,Dark,Water,Electric,Fire,Ghost,Bug,Normal
0,Bulbasaur,318,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,Ivysaur,405,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,Venusaur,525,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,VenusaurMega Venusaur,625,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,Charmander,309,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [24]:
# your code here
corr = pokemon3.corr()
corr
#Dragon , Psychic
pokemon_best = corr.sort_values(by = 'Total', ascending=False)

pokemon_best['Total']

Total       1.000000
Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
Name: Total, dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

### Dragon or Psychic

In [29]:
grouped_max = pokemon2.groupby(['Type 1','Type 2']).agg({'Total':'max'})
grouped_max.reset_index()

    Type 1    Type 2  Total
0      Bug  Electric    472
1      Bug  Fighting    600
2      Bug      Fire    550
3      Bug    Flying    600
4      Bug     Ghost    236
..     ...       ...    ...
149  Water        NA    770
150  Water    Poison    515
151  Water   Psychic    590
152  Water      Rock    495
153  Water     Steel    530

[154 rows x 3 columns]

In [30]:
best2_pokemon=grouped_max.sort_values(by=['Total'], ascending=False)
best2_pokemon.head()

                  Total
Type 1  Type 2
Psychic NA          780
Dragon  Flying      780
Psychic Fighting    780
Ground  Fire        770
Water   NA          770

## Best Choice

#### I would pick Dragon with Flying or Psychic with Fighting or just Psychic with no second Type.