# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [91]:
# your code here
import pandas as pd
import numpy as np

#### 2. Define a variable called `path` that contains the path to the csv file you downloaded. If you are reading the data from Ironhack's database, define the variables needed to create the connection with the database.

In [70]:
# your code here
path = 'apple_store.csv'

#### 3. Using the pandas, read the data either from the downladed file or the database. 

Assign the returned value to a variable called `data`.

In [71]:
# your code here
data = pd.read_csv(path)
data

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre;
0,281656475,PAC-MAN Premium,100788224.0,3.99,21292.0,26.0,4.0,4.5,Games;
1,281796108,Evernote - stay organized,158578688.0,0.00,161065.0,26.0,4.0,3.5,Productivity;
2,"281940292,""WeatherBug - Local Weather, Radar, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"282614216,""eBay: Best App to Buy, Sell, Save! ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,282935706,Bible,92774400.0,0.00,985920.0,5320.0,4.5,5.0,Reference;
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224.0,0.00,142.0,75.0,4.5,4.5,Games;
7193,1187682390,VR Roller-Coaster,120760320.0,0.00,30.0,30.0,4.5,4.5,Games;
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112.0,1.99,15.0,0.0,4.5,0.0,Utilities;
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968.0,0.00,85.0,32.0,4.5,4.5,Games;
7196,1188375727,Escape the Sweet Shop Series,90898432.0,0.00,3.0,3.0,5.0,5.0,Games;

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [72]:
# your code here
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre;
0,281656475,PAC-MAN Premium,100788224.0,3.99,21292.0,26.0,4.0,4.5,Games;
1,281796108,Evernote - stay organized,158578688.0,0.00,161065.0,26.0,4.0,3.5,Productivity;
2,"281940292,""WeatherBug - Local Weather, Radar, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"282614216,""eBay: Best App to Buy, Sell, Save! ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,282935706,Bible,92774400.0,0.00,985920.0,5320.0,4.5,5.0,Reference;

#### 5. Print the summary of the data.

In [73]:
# your code here
data.describe()

,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
count,6.862000e+03,6862.000000,6.862000e+03,6862.000000,6862.000000,6862.000000
mean,2.019649e+08,1.737244,1.248719e+04,457.149519,3.510055,3.233970
std,3.622271e+08,5.942574,7.632736e+04,3969.922775,1.530662,1.817906
min,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,4.642637e+07,0.000000,2.600000e+01,1.000000,3.500000,2.000000
50%,9.785549e+07,0.000000,2.800000e+02,22.000000,4.000000,4.000000
75%,1.855368e+08,1.990000,2.552000e+03,138.000000,4.500000,4.500000
max,4.025970e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000

#### 6. Print the number of columns in the data.

In [74]:
# your code here
#data.info()
len(data.columns)

9

#### 7. Print all column names.

In [75]:
# your code here
for col in data.columns:
    print(col)

id
track_name
size_bytes
price
rating_count_tot
rating_count_ver
user_rating
user_rating_ver
prime_genre;

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [76]:
# your code here
print(len(data['track_name']))

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [77]:
# your code here
user_rating = data.user_rating

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [78]:
# your code here
data['user_rating'].mean()

3.5100553774409793

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [79]:
# your code here
user_rating_high = data[data['user_rating'] >= 4]
user_rating_high

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre;
0,281656475,PAC-MAN Premium,100788224.0,3.99,21292.0,26.0,4.0,4.5,Games;
1,281796108,Evernote - stay organized,158578688.0,0.00,161065.0,26.0,4.0,3.5,Productivity;
4,282935706,Bible,92774400.0,0.00,985920.0,5320.0,4.5,5.0,Reference;
5,283619399,Shanghai Mahjong,10485713.0,0.99,8253.0,5516.0,4.0,4.0,Games;
6,283646709,PayPal - Send and request money safely,227795968.0,0.00,119487.0,879.0,4.0,4.5,Finance;
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224.0,0.00,142.0,75.0,4.5,4.5,Games;
7193,1187682390,VR Roller-Coaster,120760320.0,0.00,30.0,30.0,4.5,4.5,Games;
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112.0,1.99,15.0,0.0,4.5,0.0,Utilities;
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968.0,0.00,85.0,32.0,4.5,4.5,Games;
7196,1188375727,Escape the Sweet Shop Series,90898432.0,0.00,3.0,3.0,5.0,5.0,Games;

Now obtain the length of `user_rating_high` which should return 4781.

In [80]:
# your code here
len(user_rating_high)

# what the hell ??

4533

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [126]:
# your code here
data.rename(columns={'prime_genre;': 'prime_genre'}, inplace=True)
genres = data['prime_genre'].unique()
genres

array(['Games;', 'Productivity;', nan, 'Reference;', 'Finance;', 'Music;',
       'Utilities;', 'Travel;', 'Social Networking;', 'Business;',
       'Health & Fitness;', 'Weather;', 'Entertainment;',
       'Photo & Video;', 'Navigation;', 'Sports;', 'Education;',
       'Lifestyle;', 'Food & Drink;', 'Shopping;', 'News;', 'Medical;',
       'Book;', 'Games', 'Entertainment', 'Catalogs;'], dtype=object)

Print the length of the unique values of `genres`. Your code should return 23.

In [127]:
# your code here
len(genres)

# Again.. What the hell ??

26

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [132]:
# your code here
# I don't understand I tried everything but nothing seems to works, this should work:
genres.prime_genre.value_counts()[:3]

AttributeError: 'numpy.ndarray' object has no attribute 'prime_genre'

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [130]:
# your code here
free_apps = data[data['price'] == 0]
free_apps.prime_genre.value_counts()

Games;                2213
Entertainment;         315
Photo & Video;         139
Social Networking;     134
Education;             122
Utilities;             105
Shopping;              102
Lifestyle;              86
Finance;                82
Sports;                 68
Health & Fitness;       67
Music;                  64
Book;                   64
Productivity;           55
News;                   54
Travel;                 51
Food & Drink;           38
Weather;                26
Business;               19
Reference;              19
Navigation;             19
Catalogs;                9
Medical;                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [146]:
# your code here
# I cannot find a way to do this. Python doesn't allowed me to use the value_count() function (..)

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [152]:
# your code here
data.groupby('prime_genre').agg({'price': 'mean'}).sort_values(by = 'price', ascending = False)

# Again different results?? Perhaps the database is being constantly updated..

                        price
prime_genre
Games               24.990000
Medical;             8.266364
Business;            5.125660
Music;               5.041077
Reference;           4.913651
Navigation;          4.351667
Productivity;        4.324740
Education;           4.125711
Health & Fitness;    1.845935
Book;                1.752991
Food & Drink;        1.686207
Weather;             1.644333
Utilities;           1.634280
Photo & Video;       1.569188
Games;               1.429992
Travel;              1.194079
Sports;              1.017071
Entertainment        0.990000
Lifestyle;           0.914889
Entertainment;       0.891287
Catalogs;            0.799000
News;                0.512000
Social Networking;   0.355223
Finance;             0.341717
Shopping;            0.019320