# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import numpy as np
import os

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [12]:
# your code here
os.getcwd()
admissions_predict = pd.read_csv('/Users/vpavandijk/LEARNING/Ironhack/copy of google drive class AMS0520/Copy of Admission_Predict.csv')
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [13]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.strip()
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [14]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [15]:
# your code here
admissions_predict.isnull()
admissions_predict.isnull().sum()

# seems that there are no missing values in the dataset.

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [17]:
# your code here
admissions_predict.columns
admissions_predict.set_index('Serial No.', drop=False, inplace=True)
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,324,107,4,4.0,4.5,8.87,1,0.76
3,3,316,104,3,3.0,3.5,8.00,1,0.72
4,4,322,110,3,3.5,2.5,8.67,1,0.80
5,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
396,396,324,110,3,3.5,3.5,9.04,1,0.82
397,397,325,107,3,3.0,3.5,9.11,1,0.84
398,398,330,116,4,5.0,4.5,9.45,1,0.91
399,399,312,103,3,3.5,4.0,8.78,0,0.67
400,400,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [55]:
# your code here
unique = set(list(zip(admissions_predict['GRE Score'], admissions_predict['CGPA'])))
print(len(unique) == len(admissions_predict.index))
print(len(unique))
print(len(admissions_predict.index))

# apparently the combination of GRE Score and CPGA does NOT uniquely identify the data.....

unique2 = list(zip(admissions_predict['GRE Score'], admissions_predict['CGPA']))
seen = {}
dupes = []
for x in unique2:
    if x not in seen:
        seen[x] = 1
    else:
        if seen[x] == 1:
            dupes.append(x)
        seen[x] += 1
# print(dupes)
# print(seen)
doubles = {k: v for k,v in seen.items() if v > 1}
print(doubles)

False
385
400
{(324, 8.87): 2, (325, 8.4): 2, (312, 7.9): 2, (340, 9.6): 2, (316, 8.76): 2, (309, 8.56): 2, (312, 8.45): 2, (316, 8.32): 2, (324, 9.08): 2, (311, 8.43): 2, (324, 8.79): 2, (312, 8.53): 2, (326, 8.76): 2, (305, 8.13): 2, (325, 9.11): 2}

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [99]:
# your code here
# admissions_predict.set_index(['GRE Score', 'CGPA'], drop=False, inplace=True)
admissions_predict.reset_index(drop=True, inplace=True)
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,CGPA_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1.762611
1,2,324,107,4,4.0,4.5,8.87,1,0.76,0.454582
2,3,316,104,3,3.0,3.5,8.00,1,0.72,-1.004373
3,4,322,110,3,3.5,2.5,8.67,1,0.80,0.119190
4,5,314,103,2,2.0,3.0,8.21,0,0.65,-0.652212
...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,0.739665
396,397,325,107,3,3.0,3.5,9.11,1,0.84,0.857052
397,398,330,116,4,5.0,4.5,9.45,1,0.91,1.427219
398,399,312,103,3,3.5,4.0,8.78,0,0.67,0.303656
399,400,333,117,4,5.0,4.0,9.66,1,0.95,1.779380

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [72]:
# your code here
admissions_high_CGPA_research = admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['Research'] == 1)]
print(f'The number of rows where the CGPA is higher than 9 and the student has conducted research is: {len(admissions_high_CGPA_research)}.')

The number of rows where the CGPA is higher than 9 and the student has conducted research is: 104.

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [76]:
# your code here
admissions_high_CGPA_low_SOP = admissions_predict[(admissions_predict['CGPA'] > 9) & (admissions_predict['SOP'] < 3.5)]
mean_chance = admissions_high_CGPA_low_SOP['Chance of Admit'].mean()
print(f'The mean chance of admit for the applicants with a CGPA greater than 9 and the SOP score less than 3.5 is: {mean_chance}.')

The mean chance of admit for the applicants with a CGPA greater than 9 and the SOP score less than 3.5 is: 0.8019999999999999.

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [93]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    series = col
    avg = series.mean()
    stdv = series.std()
    series_standardized = (series - avg) / stdv
    return series_standardized

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [101]:
# your code here
# admissions_predict['CGPA_std'] = admissions_predict.apply(lambda col: standardize(admissions_predict['CGPA']))
# admissions_predict['GRE_std'] = admissions_predict.apply(lambda col: standardize(admissions_predict['GRE Score']))
admissions_predict['LOR_std'] = admissions_predict.apply(lambda col: standardize(admissions_predict['LOR']))
admissions_predict

ValueError: Wrong number of items passed 10, placement implies 1

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Libraries
from random import choices

In [ ]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# your code here

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here